*{
	padding: 0;
	margin: 0;
}
#a{
	top:180px;
	left: 150px;
	position:relative;
	width: 500px; 	
	height:500px;
	font-size:35px; 
	font-family:'Comic Sans MS', cursive;
	text-align: center;
	color:rgb(255,255,255);
	
}

#a1{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position:fixed;
	margin:0 auto;
	text-align: center;
	color:rgba(255,255,255,0.6);
	font-style: oblique;
	font-size:45px; 
	font-family:serif;
	width: 1000px; 	
	height: 70px;
	
}
