

	.top {
		padding-top: 20px;
	}

	.top li {
		list-style: none;/*消除li的点*/
		width: 120px;
		height: 150px;
		float: left;
	}
	.top li a {
		display: block;/*块级元素*/
		text-align: center;/*居中*/
		font-size: 16px;
		color: white;
		line-height: 35px;
		text-decoration: none;/*消除下划线*/
	}
	.top li a#last {
		display: block;
		text-align: center;
		font-size: 16px;
		color: orange;
		line-height: 35px;
		text-decoration: underline;
	}
	.top li a:hover {
		display: block;
		text-align: center;
		font-size: 16px;
		color: orange;
		line-height: 35px;
		text-decoration: none;
	}
	.kc{
	 	width: 800px;/*设置宽和高*/
        height: 1100px;
        margin: 50px auto;/*居中*/
        position: relative;/*开启相对定位*/
        overflow: hidden;/*裁剪溢出的内容*/
	}
	#banner {
		position:relative; 
		width:800px; height:500px; 
		border:1px solid #666;
	}
	#banner_info{  /*参数4*/
		position:absolute;
		bottom:0; left:5px; 
		line-height:30px;
		color:#fff;
		z-index:1001; /*堆叠顺序序值小*/
	}
	#banner ul {
		position:absolute;
		list-style-type:none;
	  	border:1px solid #fff;
		z-index:1002;  /*堆叠顺序序值大*/
		margin:0; padding:0; bottom:3px; right:5px;}
	#banner ul li { 
		padding:0px 8px;float:left;
		display:block;
		color:#FFF;
		border:#fff 1px solid;
		background-color:#6f4f67;
		cursor:pointer;
	}
	#banner ul li.on{ 
		background-color:#900; /*改变序号背景，表示当前图片序号*/
	}
	#banner_list a{  /*不可去掉*/
		position:absolute;
	}
	.kd{
		width: 1490px;
        height: 300px;
        background-color: black;
        color: white;
        font-size: 12px;
	}
	#bb{
		padding-top: 20px;
		text-align: center;
	}
	table{
		margin: auto;
	}
	#dd{
		text-align: center;
	}
